@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  /* Margin bottom by footer height */
}

div #page {
  text-align: justify
}

#page h1 {
  text-align: center;
}

#topMenu.navbar {
  padding: 0em;
}

#topMenu{
    background-color: #990C1F !important;
}
.site-logo span{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}
body .btn-primary{
    border-color: #990C1F !important;    
    background-color: #990C1F !important;
}
body .border-primary{
    border-color: #990C1F !important;
}
body .text-primary{
    color: #990C1F !important;
}
.footer {
  padding-top: 20px;
  position: absolute;
  /*overflow: hidden;*/
  bottom: 0;
  width: 100%;
  height: 20px;
  /* Set the fixed height of the footer here */
  line-height: 45px;
  /* Vertically center the text there */
}
.footer a{
    color: #990C1F;
}